nasa-iss.json
[
    {
        "id": "abd71d6eaafedaa3",
        "type": "tab",
        "label": "api nasa iss",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd868eae695bbc6d",
        "type": "http request",
        "z": "abd71d6eaafedaa3",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.open-notify.org/iss-now.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "credentials": {},
        "x": 570,
        "y": 320,
        "wires": [
            [
                "b9c3028be6ca90a7"
            ]
        ]
    },
    {
        "id": "0549bd69816299a8",
        "type": "inject",
        "z": "abd71d6eaafedaa3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "dd868eae695bbc6d"
            ]
        ]
    },
    {
        "id": "b9c3028be6ca90a7",
        "type": "debug",
        "z": "abd71d6eaafedaa3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 320,
        "wires": []
    },
    {
        "id": "f99ffeeb5b6a9c8b",
        "type": "http request",
        "z": "abd71d6eaafedaa3",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.nasa.gov/planetary/apod?api_key=M5QNJXrCmdIHm8YRk4V2F9Pb7qJpcqdid7ekkVcZ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "817f60ca707fc064"
            ]
        ]
    },
    {
        "id": "f25c8e3478119865",
        "type": "inject",
        "z": "abd71d6eaafedaa3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 420,
        "wires": [
            [
                "f99ffeeb5b6a9c8b"
            ]
        ]
    },
    {
        "id": "817f60ca707fc064",
        "type": "debug",
        "z": "abd71d6eaafedaa3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "5d4e67b45f251cbd",
        "type": "http request",
        "z": "abd71d6eaafedaa3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "authType": "",
        "senderr": false,
        "x": 550,
        "y": 540,
        "wires": [
            []
        ]
    }
]