ssh-system-update.json
[
    {
        "id": "7cb59b2960a193b9",
        "type": "tab",
        "label": "ssh system",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9d0066dc2260185",
        "type": "inject",
        "z": "7cb59b2960a193b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "9eab52a830803025"
            ]
        ]
    },
    {
        "id": "9eab52a830803025",
        "type": "exec",
        "z": "7cb59b2960a193b9",
        "command": "sudo apt update",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "796626e67ab82658"
            ],
            [],
            [
                "b9678a6b5809a160"
            ]
        ]
    },
    {
        "id": "796626e67ab82658",
        "type": "debug",
        "z": "7cb59b2960a193b9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "91b8382bc5838752",
        "type": "exec",
        "z": "7cb59b2960a193b9",
        "command": "sudo apt list --upgradable",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "9b0c8288dabd777e"
            ],
            [],
            [
                "a2b8f97bc5c41638"
            ]
        ]
    },
    {
        "id": "3e553e83722fae43",
        "type": "inject",
        "z": "7cb59b2960a193b9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "91b8382bc5838752"
            ]
        ]
    },
    {
        "id": "9b0c8288dabd777e",
        "type": "debug",
        "z": "7cb59b2960a193b9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "a2b8f97bc5c41638",
        "type": "debug",
        "z": "7cb59b2960a193b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "b9678a6b5809a160",
        "type": "debug",
        "z": "7cb59b2960a193b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    }
]