yr-for-delete.json
[
    {
        "id": "2b74e16d31657d5a",
        "type": "tab",
        "label": "YR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "893534ff98749181",
        "type": "http request",
        "z": "2b74e16d31657d5a",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=52.5105&lon=13.4580&altitude=90",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 470,
        "y": 420,
        "wires": [
            [
                "b9aae3b53d1b8155",
                "e710ca42d97f4af3",
                "a741fa6eb14b3b0c",
                "89ea2aa510d45ca2",
                "8250b81da50fc695",
                "307c5b063b819065",
                "adf8e829857ff41d",
                "d631e4cdd01b2fa3",
                "7a33f481f7e9d22e",
                "3c1e427c6b781acd",
                "1e77bfaa9a1c5d40",
                "0af3809bd71a58db",
                "04f6dd63236676a5",
                "a01fecd6bc151909",
                "28afb984d86470ce",
                "48a73c9ddc80b8cc",
                "b7d6b0cdaf699a07",
                "828a8beba8c04820",
                "2e163f90ce5c9784",
                "4b41e159ab8e27a8",
                "d88cf5966ee6fd6c",
                "a8e6d6a2c4fdb668",
                "28b0a383141a2f87",
                "fdb6a5c6c2b5693c",
                "c87cc8b8bd4a04e3",
                "f96bd3376c4b53dd",
                "964d14d0b226903e",
                "9cfb39524fd2d682"
            ]
        ]
    },
    {
        "id": "b9aae3b53d1b8155",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.properties.timeseries",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "6ae9e6d9e949d8d0",
        "type": "inject",
        "z": "2b74e16d31657d5a",
        "name": "60 Minuten",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "893534ff98749181"
            ]
        ]
    },
    {
        "id": "e710ca42d97f4af3",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.properties.timeseries[1].data.instant.details.air_temperature",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "19dee56441ab3cff",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "air_temperature1 time",
        "label": "{{msg.payload}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "d87d2b63663e158e",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "air_temperature2 time",
        "label": "{{msg.payload}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "a741fa6eb14b3b0c",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "air_temperature3 value",
        "label": "",
        "format": "{{msg.payload.properties.timeseries[3].data.instant.details.air_temperature}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "89ea2aa510d45ca2",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 14,
        "width": 0,
        "height": 0,
        "name": "air_temperature",
        "label": "{{msg.payload.properties.timeseries[4].time}}",
        "format": "{{msg.payload.properties.timeseries[4].data.instant.details.air_temperature}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 260,
        "y": 620,
        "wires": []
    },
    {
        "id": "8250b81da50fc695",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 15,
        "width": 0,
        "height": 0,
        "name": "air_temperature 5",
        "label": "{{msg.payload.properties.timeseries[5].time}}",
        "format": "{{msg.payload.properties.timeseries[5].data.instant.details.air_temperature}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 680,
        "wires": []
    },
    {
        "id": "307c5b063b819065",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 16,
        "width": 0,
        "height": 0,
        "name": "air_temperature 6",
        "label": "{{msg.payload.properties.timeseries[6].time}}",
        "format": "{{msg.payload.properties.timeseries[6].data.instant.details.air_temperature}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 740,
        "wires": []
    },
    {
        "id": "adf8e829857ff41d",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.properties.timeseries[1].data.instant.details.relative_humidity",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "d631e4cdd01b2fa3",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "air_humidity1",
        "label": "",
        "format": "{{payload.properties.timeseries[1].data.instant.details.relative_humidity}} %",
        "layout": "row-spread",
        "className": "",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "7a33f481f7e9d22e",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "air_humidity 2",
        "label": "",
        "format": "{{payload.properties.timeseries[2].data.instant.details.relative_humidity}} %",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 540,
        "wires": []
    },
    {
        "id": "3c1e427c6b781acd",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 11,
        "width": 2,
        "height": 1,
        "name": "air_humidity 3",
        "label": "",
        "format": "{{payload.properties.timeseries[3].data.instant.details.relative_humidity}} %",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 680,
        "wires": []
    },
    {
        "id": "044450559d037b9c",
        "type": "ui_chart",
        "z": "2b74e16d31657d5a",
        "name": "air_temperature",
        "group": "b00580b1b424ac78",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1520,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1e77bfaa9a1c5d40",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "",
        "func": "let t1 = msg.payload.properties.timeseries[1].data.instant.details.air_temperature;\n\nmsg.payload = t1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 260,
        "wires": [
            [
                "044450559d037b9c"
            ]
        ]
    },
    {
        "id": "0af3809bd71a58db",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "",
        "func": "let h1 = msg.payload.properties.timeseries[1].data.instant.details.relative_humidity;\n\nmsg.payload = h1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 980,
        "wires": [
            [
                "c5f97c16bb85303e",
                "477d72515d7afeca"
            ]
        ]
    },
    {
        "id": "c5f97c16bb85303e",
        "type": "ui_chart",
        "z": "2b74e16d31657d5a",
        "name": "air_humidity",
        "group": "b00580b1b424ac78",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "477d72515d7afeca",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2e163f90ce5c9784",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "b00580b1b424ac78",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "air_humidity",
        "label": "Luftfeuchtigkeit",
        "format": "{{payload.properties.timeseries[1].data.instant.details.relative_humidity}} %",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 540,
        "wires": []
    },
    {
        "id": "04f6dd63236676a5",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "b00580b1b424ac78",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "air_temperature",
        "label": "Temperatur",
        "format": "{{msg.payload.properties.timeseries[1].data.instant.details.air_temperature}} °C",
        "layout": "row-spread",
        "className": "",
        "x": 1520,
        "y": 300,
        "wires": []
    },
    {
        "id": "a01fecd6bc151909",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.properties",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "75d2e07af0d54672",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "time1",
        "func": "// GET VARIABLEN\nlet now = flow.get('now') || 0;\nlet time1 = flow.get('time1');\n\n// FUNKTION\nconst date = new Date(time1);\n\nlet d = date.getDate();\nd = ((d < 10) ? \"0\" + d : d);\n\nlet mon = date.getMonth() + 1;\nmon = ((mon < 10) ? \"0\" + mon : mon);\n\nconst y = date.getFullYear();\n\nlet h = date.getHours();\nh = ((h < 10) ? \"0\" + h : h);\n\nlet min = date.getMinutes();\nmin = ((min < 10) ? \"0\" + min : min);\n\nlet s = date.getSeconds();\ns = ((s < 10) ? \"0\" + s : s);\n\nnow = `${d}.${mon}.${y} ${h}:${min}`;\n\n// SET VARIABLEN\nflow.set('now', now);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = now;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 320,
        "wires": [
            [
                "19dee56441ab3cff"
            ]
        ]
    },
    {
        "id": "28afb984d86470ce",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "time1",
        "func": "let time1 = flow.get('time1') || 0;\n\ntime1 = msg.payload.properties.timeseries[1].time;\n\n// SET VARIABLEN\nflow.set('time1', time1);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = time1;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 320,
        "wires": [
            [
                "75d2e07af0d54672"
            ]
        ]
    },
    {
        "id": "48a73c9ddc80b8cc",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "air_temperature1 value",
        "label": "",
        "format": "{{msg.payload.properties.timeseries[1].data.instant.details.air_temperature}}°C",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "b7d6b0cdaf699a07",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "time2",
        "func": "let time2 = flow.get('time2') || 0;\n\ntime2 = msg.payload.properties.timeseries[2].time;\n\n// SET VARIABLEN\nflow.set('time2', time2);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = time2;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 460,
        "wires": [
            [
                "691f7ea6bcd0c095"
            ]
        ]
    },
    {
        "id": "691f7ea6bcd0c095",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "time2",
        "func": "// GET VARIABLEN\nlet now = flow.get('now') || 0;\nlet time2 = flow.get('time2');\n\n// FUNKTION\nconst date = new Date(time2);\n\nlet d = date.getDate();\nd = ((d < 10) ? \"0\" + d : d);\n\nlet mon = date.getMonth() + 1;\nmon = ((mon < 10) ? \"0\" + mon : mon);\n\nconst y = date.getFullYear();\n\nlet h = date.getHours();\nh = ((h < 10) ? \"0\" + h : h);\n\nlet min = date.getMinutes();\nmin = ((min < 10) ? \"0\" + min : min);\n\nlet s = date.getSeconds();\ns = ((s < 10) ? \"0\" + s : s);\n\nnow = `${d}.${mon}.${y} ${h}:${min}`;\n\n// SET VARIABLEN\nflow.set('now', now);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = now;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 460,
        "wires": [
            [
                "d87d2b63663e158e"
            ]
        ]
    },
    {
        "id": "828a8beba8c04820",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "air_temperature2 value",
        "label": "",
        "format": "{{msg.payload.properties.timeseries[2].data.instant.details.air_temperature}}°C",
        "layout": "row-spread",
        "className": "",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "4b41e159ab8e27a8",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "time3",
        "func": "let time3 = flow.get('time3') || 0;\n\ntime3 = msg.payload.properties.timeseries[3].time;\n\n// SET VARIABLEN\nflow.set('time3', time3);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = time3;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 600,
        "wires": [
            [
                "cef7506353c8475d"
            ]
        ]
    },
    {
        "id": "cef7506353c8475d",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "time3",
        "func": "// GET VARIABLEN\nlet now = flow.get('now') || 0;\nlet time3 = flow.get('time3');\n\n// FUNKTION\nconst date = new Date(time3);\n\nlet d = date.getDate();\nd = ((d < 10) ? \"0\" + d : d);\n\nlet mon = date.getMonth() + 1;\nmon = ((mon < 10) ? \"0\" + mon : mon);\n\nconst y = date.getFullYear();\n\nlet h = date.getHours();\nh = ((h < 10) ? \"0\" + h : h);\n\nlet min = date.getMinutes();\nmin = ((min < 10) ? \"0\" + min : min);\n\nlet s = date.getSeconds();\ns = ((s < 10) ? \"0\" + s : s);\n\nnow = `${d}.${mon}.${y} ${h}:${min}`;\n\n// SET VARIABLEN\nflow.set('now', now);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = now;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 600,
        "wires": [
            [
                "083fd918e73c0545"
            ]
        ]
    },
    {
        "id": "083fd918e73c0545",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "air_temperature3 time",
        "label": "{{msg.payload}}",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "d88cf5966ee6fd6c",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "yr_current_temp0",
        "func": "// GET VARIABLEN\nlet yr_current_temp = global.get('yr_current_temp') || 0;\n\n// FUNKTION\nyr_current_temp = msg.payload.properties.timeseries[0].data.instant.details.air_temperature;\nyr_current_temp = `{\n    \"yr_temp\": ${yr_current_temp}, \n    \"time\": ${msg.topic}\n}`;\n\n// SET VARIABLEN\nglobal.set('yr_current_temp', yr_current_temp);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = yr_current_temp;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 780,
        "wires": [
            [
                "383fea5cf9459cc0"
            ]
        ]
    },
    {
        "id": "383fea5cf9459cc0",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 780,
        "wires": []
    },
    {
        "id": "a8e6d6a2c4fdb668",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "28b0a383141a2f87",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "rain1",
        "label": "",
        "format": "{{payload.properties.timeseries[1].data.next_1_hours.details.precipitation_amount}}mm",
        "layout": "row-spread",
        "className": "",
        "x": 1470,
        "y": 420,
        "wires": []
    },
    {
        "id": "fdb6a5c6c2b5693c",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "yr_current_humidity0",
        "func": "// GET VARIABLEN\nlet yr_current_humidity = global.get('yr_current_humidity') || 0;\n\n// FUNKTION\nyr_current_humidity = msg.payload.properties.timeseries[0].data.instant.details.relative_humidity;\nyr_current_humidity = `{\n    \"yr_humidity\": ${yr_current_humidity}, \n    \"time\": ${msg.topic}\n}`;\n\n// SET VARIABLEN\nglobal.set('yr_current_humidity', yr_current_humidity);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = yr_current_humidity;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 900,
        "wires": [
            [
                "e6d48859275e8517"
            ]
        ]
    },
    {
        "id": "e6d48859275e8517",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 900,
        "wires": []
    },
    {
        "id": "eaf1f807bea303fd",
        "type": "comment",
        "z": "2b74e16d31657d5a",
        "name": "GLOBAL",
        "info": "",
        "x": 620,
        "y": 740,
        "wires": []
    },
    {
        "id": "a095cad4676bd7ad",
        "type": "cronplus",
        "z": "2b74e16d31657d5a",
        "name": "",
        "outputField": "payload",
        "timeZone": "Europe/Berlin",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "cronYR",
                "topic": "yr",
                "payloadType": "date",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 1 */1 * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 140,
        "y": 300,
        "wires": [
            [
                "590d8f2ed995f3ba",
                "86e12e899bc0f29d",
                "2fc4709b9c1ecf8c",
                "db12a4b6359056bc",
                "a1a72f38a8705528"
            ]
        ]
    },
    {
        "id": "e81e682f2313ca26",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "590d8f2ed995f3ba",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "yr_cron",
        "func": "// GET VARIABLEN\nlet yr_cron = flow.get('yr_cron') || 0;\n\n// FUNKTION\nyr_cron = msg.payload;\n\n// SET VARIABLEN\nflow.set('yr_cron', yr_cron);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = yr_cron;\nmsg.topic = msg.payload;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 420,
        "wires": [
            [
                "e81e682f2313ca26",
                "893534ff98749181"
            ]
        ]
    },
    {
        "id": "c87cc8b8bd4a04e3",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "rain2",
        "label": "",
        "format": "{{payload.properties.timeseries[2].data.next_1_hours.details.precipitation_amount}}mm",
        "layout": "row-spread",
        "className": "",
        "x": 1470,
        "y": 460,
        "wires": []
    },
    {
        "id": "f96bd3376c4b53dd",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "0e8da3195e8b5a32",
        "order": 12,
        "width": 2,
        "height": 1,
        "name": "rain3",
        "label": "",
        "format": "{{payload.properties.timeseries[3].data.next_1_hours.details.precipitation_amount}}mm",
        "layout": "row-spread",
        "className": "",
        "x": 1470,
        "y": 500,
        "wires": []
    },
    {
        "id": "964d14d0b226903e",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "yr_current_hum0",
        "func": "// GET VARIABLEN\nlet yr_current_hum = global.get('yr_current_hum') || 0;\n\n// FUNKTION\nyr_current_hum = msg.payload.properties.timeseries[1].data.instant.details.relative_humidity;\nyr_current_hum = `{\n    \"yr_hum\": ${yr_current_hum}, \n    \"time\": ${msg.topic}\n}`;\n\n// SET VARIABLEN\nglobal.set('yr_current_hum', yr_current_hum);\n\n// VARIABLEN UEBERGEBEN\nmsg.payload = yr_current_hum;\n\n// RETURN\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 840,
        "wires": [
            [
                "3128364a3a3847ed"
            ]
        ]
    },
    {
        "id": "3128364a3a3847ed",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 840,
        "wires": []
    },
    {
        "id": "c6bd9e6742fb3325",
        "type": "mqtt out",
        "z": "2b74e16d31657d5a",
        "name": "",
        "topic": "/cron/api/insert/yr/",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e7bef4fac1dad829",
        "x": 1390,
        "y": 640,
        "wires": []
    },
    {
        "id": "9cfb39524fd2d682",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "INSERT INTO `api_data_current` ...",
        "func": "let sql = \"INSERT INTO `api_data_current` (`api_id`, `temperatur`, `humidity`, `sky_clouds`, `air_pressure`, `wind_speed`, `wind_direction_deg`) VALUES ('1', '\" + msg.payload.properties.timeseries[0].data.instant.details.air_temperature + \"', '\" + msg.payload.properties.timeseries[0].data.instant.details.relative_humidity + \"', '\" + msg.payload.properties.timeseries[0].data.instant.details.cloud_area_fraction + \"', '\" + msg.payload.properties.timeseries[0].data.instant.details.air_pressure_at_sea_level + \"', '\" + msg.payload.properties.timeseries[0].data.instant.details.wind_speed + \"', '\" + msg.payload.properties.timeseries[0].data.instant.details.wind_from_direction + \"')\";\nmsg.topic = sql;\nmsg.payload = 'INSERT INTO `api_data_current`';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 700,
        "wires": [
            [
                "ef2df4cbbfc2beb6",
                "41822254c3da7a73"
            ]
        ]
    },
    {
        "id": "41822254c3da7a73",
        "type": "mysql",
        "z": "2b74e16d31657d5a",
        "mydb": "919f4e44dec380e0",
        "name": "",
        "x": 1370,
        "y": 700,
        "wires": [
            [
                "1319e8191942a401"
            ]
        ]
    },
    {
        "id": "1319e8191942a401",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 700,
        "wires": []
    },
    {
        "id": "ef2df4cbbfc2beb6",
        "type": "debug",
        "z": "2b74e16d31657d5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 780,
        "wires": []
    },
    {
        "id": "86e12e899bc0f29d",
        "type": "function",
        "z": "2b74e16d31657d5a",
        "name": "",
        "func": "msg.payload = 'test';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2fc4709b9c1ecf8c",
        "type": "mqtt out",
        "z": "2b74e16d31657d5a",
        "name": "",
        "topic": "/cron/current_data/yr",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e7bef4fac1dad829",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "db12a4b6359056bc",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "95336c470a1da5f7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "text /cron/current_data/yr",
        "label": "/cron/current_data/yr",
        "format": "",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "a1a72f38a8705528",
        "type": "ui_text",
        "z": "2b74e16d31657d5a",
        "group": "95336c470a1da5f7",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "next /cron/current_data/yr",
        "label": "",
        "format": "{{msg.cronplus.status.nextDateTZ}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "1e891a877d42f1b8",
        "type": "ui_spacer",
        "z": "2b74e16d31657d5a",
        "name": "spacer",
        "group": "0e8da3195e8b5a32",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "0e8da3195e8b5a32",
        "type": "ui_group",
        "name": "YR",
        "tab": "fd4b7bc6be096b7c",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "b00580b1b424ac78",
        "type": "ui_group",
        "name": "YR",
        "tab": "d1dcec789102c3a3",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e7bef4fac1dad829",
        "type": "mqtt-broker",
        "name": "",
        "broker": "guteswetter.ddns.net",
        "port": "1883",
        "clientid": "mqtt_raspi421",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "919f4e44dec380e0",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "raumklima",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "95336c470a1da5f7",
        "type": "ui_group",
        "name": "API Request",
        "tab": "cb4132b94e48ff2c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd4b7bc6be096b7c",
        "type": "ui_tab",
        "name": "Forecast",
        "icon": "fa-sun-o",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d1dcec789102c3a3",
        "type": "ui_tab",
        "name": "Hidden",
        "icon": "dashboard",
        "order": 14,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "cb4132b94e48ff2c",
        "type": "ui_tab",
        "name": "Cronjobs",
        "icon": "fa-clock-o",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]